{% extends 'users_management/base.html' %}

{% block title %}Animal Profile Detail: {{ animalprofile.name }}{% endblock %}

{% block content %}
  <h1>{{ animalprofile.name }}</h1>
  <div class="animal-profile-details">
    <p><strong>Species:</strong> {{ animalprofile.livestock }}</p> 
     <p><strong>Date of Birth:</strong> {{ animalprofile.date_of_birth }}</p>
    <p><strong>Tag:</strong> {{ animalprofile.tag }}</p>
    <p><strong>Weight:</strong> {{ animalprofile.weight }} kg</p>
    <p><strong>Date Weighed:</strong> {{ animalprofile.date_weighted }}</p>
    <p><strong>Remarks:</strong> {{ animalprofile.remarks }}</p>
    {% if animalprofile.photo %}  <img src="{{ animalprofile.photo.url }}" alt="Animal Profile Photo">
    {% endif %}
    {% if animalprofile.uploaded_document %}  <p><a href="{{ animalprofile.uploaded_document.url }}">Download Document</a></p>
    {% endif %}
  </div>
  <a href="{% url 'data_management:animalprofile_update' pk=animalprofile.pk %}">Edit Profile</a>
  <a href="{% url 'data_management:animalprofile_delete' pk=animalprofile.pk %}">Delete Profile</a>
  <a href="{% url 'data_management:animalprofile_list' %}">Back to Animal Profile List</a>
{% endblock %}