{% extends 'users_management/base.html' %}
{% block title %}Animal Profile - {{ profile.name }}{% endblock %}
{% block content %}

    <h1>{{ profile.name }}'s Profile</h1>

    <div class="card">
        <div class="card-body">

            {% if profile.photo %}
                <img src="{{ profile.photo.url }}" alt="{{ profile.name }}" class="img-fluid mb-3" style="max-height: 300px;">
            {% endif %}

            <dl class="row">

                <dt class="col-sm-3">Name:</dt>
                <dd class="col-sm-9">{{ profile.name }}</dd>

                <dt class="col-sm-3">Livestock:</dt>
                <dd class="col-sm-9">{{ profile.livestock.name }} ({{ profile.livestock.livestock_type }})</dd>

                <dt class="col-sm-3">Weight:</dt>
                <dd class="col-sm-9">{{ profile.weight }} kg</dd>

                <dt class="col-sm-3">Date Weighted:</dt>
                <dd class="col-sm-9">{{ profile.date_weighted }}</dd>

                <dt class="col-sm-3">Date of Birth:</dt>
                <dd class="col-sm-9">{{ profile.date_of_birth }}</dd>

                {% if profile.tag %}
                <dt class="col-sm-3">Tag:</dt>
                <dd class="col-sm-9">{{ profile.tag }}</dd>
                {% endif %}

                {% if profile.remarks %}
                <dt class="col-sm-3">Remarks:</dt>
                <dd class="col-sm-9">{{ profile.remarks }}</dd>
                {% endif %}

                {% if profile.uploaded_document %}
                <dt class="col-sm-3">Document:</dt>
                <dd class="col-sm-9"><a href="{{ profile.uploaded_document.url }}" target="_blank">View Document</a></dd>
                {% endif %}

            </dl>

            <a href="{% url 'data_management:animalprofile_update' profile.pk %}" class="btn btn-warning">Update Profile</a>
             <a href="{% url 'data_management:animalprofile_delete' profile.pk %}" class="btn btn-danger">Delete Profile</a>

        </div>
    </div>

    <a href="{% url 'data_management:animalprofile_list' %}" class="btn btn-secondary mt-3">Back to Profiles</a>

{% endblock %}