{% extends 'users_management/base.html' %}

{% block title %}Confirm Delete{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Confirm Delete</h1>
    <p>Are you sure you want to delete the animal profile for "{{ animal_profile.name }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Yes, Delete</button>
        <a href="{% url 'data_management:animal_profile_list' %}?livestock_id={{ animal_profile.livestock.id }}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}