{% extends 'users_management/base.html' %}
{% block title %}Livestock List{% endblock %}
{% block content %}
    <h1>Livestock List</h1>
    <a href="{% url 'data_management:livestock_create' %}" class="btn btn-primary">Add Livestock</a>

    <table class="table">
        <thead>
            <tr>
                <th>Livestock</th>
                <th>Type</th>
                <th>Count</th>
                <th>Actions</th> {# Added Actions Header #}
            </tr>
        </thead>
        <tbody>
        {% for item in livestock_grouped %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.livestock_type }}</td>
                <td>{{ item.count }}</td>
                <td> {# Actions Cell #}
                    <a href="{% url 'data_management:livestock_type_detail' item.livestock_type.pk %}" class="btn btn-sm btn-info">View Animals</a>
                </td>
            </tr>
        {% empty %}
            <tr><td colspan="4">No livestock found.</td></tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}