{% extends 'users_management/base.html' %}
{% block title %}Livestock List{% endblock %}
{% block content %}
    <h1>Livestock List</h1>
    <a href="{% url 'data_management:create_livestock' %}" class="btn btn-primary mb-3">Add New Livestock</a>
    
    {% if livestock_list %}
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for livestock in livestock_list %}
                    <tr>
                        <td>{{ livestock.name }}</td>
                        <td>{{ livestock.livestock_type.name }}</td>
                        <td>
                            <a href="{% url 'data_management:update_livestock' livestock.pk %}" class="btn btn-sm btn-warning">Edit</a>
                            <a href="{% url 'data_management:delete_livestock' livestock.pk %}" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to delete this livestock?');">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No livestock records found.</p>
    {% endif %}
{% endblock %}
