{% extends 'users_management/base.html' %}
{% block title %}{% if livestock_type %}Edit Livestock Type{% else %}Add Livestock Type{% endif %}{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>{% if livestock_type %}Edit Livestock Type{% else %}Add Livestock Type{% endif %}</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">{% if livestock_type %}Update{% else %}Create{% endif %}</button>
        <a href="{% url 'data_management:livestock_type_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
