{% extends 'users_management/base.html' %}
{% block title %}{{ livestock.name }} Details{% endblock %}
{% block content %}
    <h1>{{ livestock.name }} Details</h1>
    <p>Type: {{ livestock.livestock_type }}</p>
    <p>Breed: {{ livestock.breed }}</p>
    <p>Date of Birth: {{ livestock.date_of_birth }}</p>
    <a href="{% url 'data_management:livestock_edit' livestock.pk %}" class="btn btn-warning">Edit</a>
    <a href="{% url 'data_management:livestock_list' %}" class="btn btn-secondary">Back to List</a>
{% endblock %}