{% extends 'users_management/base.html' %}
{% block title %}{{ livestock.name }} Details{% endblock %}
{% block content %}
    <h1>{{ livestock.name }} Details</h1>

    <p><b>Type:</b> {{ livestock.livestock_type }}</p>
    <p><b>Breed:</b> {{ livestock.breed }}</p>
    <p><b>Date of Birth:</b> {{ livestock.date_of_birth }}</p>

    <p><b>Registration Number (Optional):</b> {{ livestock.registration_number }}</p>
    <p><b>Gender:</b> {{ livestock.gender }}</p>
    <p><b>Color:</b> {{ livestock.color }}</p>
    <p><b>Description (Optional):</b> {{ livestock.description }}</p>

    <h2>Related Information</h2>
    <ul>
        <li><a href="{% url 'data_management:animalprofile_livestock_list' livestock.pk %}">View Animal Profile</a></li>  <li><a href="{% url 'data_management:milkproduction_livestock_list' livestock.pk %}">Milk Production Records</a></li>
        <li><a href="{% url 'data_management:healthrecord_livestock_list' livestock.pk %}">Health Records</a></li>
    </ul>

    {% if livestock.animalprofile_set.exists %}
    <a href="{% url 'data_management:animalprofile_update' livestock.animalprofile.first.pk %}">Edit Animal Profile</a>
{% else %}
    <a href="{% url 'data_management:animalprofile_create' %}?livestock={{ livestock.pk }}">Create Animal Profile</a>
{% endif %}

    <a href="{% url 'data_management:livestock_update' livestock.pk %}" class="btn btn-warning">Edit Livestock</a>
    <a href="{% url 'data_management:livestock_list' %}" class="btn btn-secondary">Back to List</a>
    
{% endblock %}