{% extends 'users_management/base.html' %}

{% block title %}Animal Profile Details{% endblock %}

{% block content %}
    <h1>Animal Profile: {{ animal_profile.name }}</h1>
    
    {% if animal_profile.profile_photo %}
        <img src="{{ animal_profile.profile_photo.url }}" alt="{{ animal_profile.name }}" class="img-fluid" />
    {% endif %}
    
    <table class="table">
        <tr>
            <th>Livestock</th>
            <td>{{ animal_profile.livestock.name }}</td>
        </tr>
        <tr>
            <th>Gender</th>
            <td>{{ animal_profile.livestock.get_gender_display }}</td>
        </tr>
        <tr>
            <th>Health Status</th>
            <td>{{ animal_profile.health_status }}</td>
        </tr>
        <tr>
            <th>Weight</th>
            <td>{{ animal_profile.weight }} kg</td>
        </tr>
        <tr>
            <th>Birth Weight</th>
            <td>{{ animal_profile.birth_weight }} kg</td>
        </tr>
        <tr>
            <th>Date of Birth</th>
            <td>{{ animal_profile.date_of_birth }}</td>
        </tr>
        <tr>
            <th>Notes</th>
            <td>{{ animal_profile.notes }}</td>
        </tr>
        <tr>
            <th>Document</th>
            <td>
                {% if animal_profile.document %}
                    <a href="{{ animal_profile.document.url }}" target="_blank">Download Document</a>
                {% else %}
                    No document available.
                {% endif %}
            </td>
        </tr>
    </table>

    {% if animal_profile.livestock.gender == "female" %}
    <a href="{% url 'data_management:create_milk_production' %}?livestock={{ livestock.id }}&animal_profile={{ animal_profile.id }}">Add Milk Production</a>
        <a href="{% url 'data_management:milk_production_list' %}" class="btn btn-info">View Milk Production</a>
    {% endif %}
    
    <a href="{% url 'data_management:animalprofile_update' animal_profile.pk %}" class="btn btn-warning">Edit Profile</a>
    <a href="{% url 'data_management:animalprofile_delete' animal_profile.pk %}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this profile?');">Delete Profile</a>
    <a href="{% url 'data_management:animal_profile_list' %}" class="btn btn-secondary">Back to List</a>
{% endblock %}
